In [14]:
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
import pandas as pd
import seaborn as sns 
from pandas.api.types import is_numeric_dtype

In [15]:
path= '../../datasets/main_data/bank-additional-full.csv'
full_bank = pd.read_csv(path, sep=';')

#### Module Data.py codes

In [147]:
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as  np
import pandas as pd
from pandas.api.types import is_numeric_dtype
from sklearn.ensemble import IsolationForest
import os
from sklearn.preprocessing import RobustScaler, StandardScaler

def load_data(path="", sep=",", cols_to_drop=[]):
    data = pd.read_csv(path, sep)
    for col in cols_to_drop:
        data.drop(col, axis=1, inplace=True)
    return data

def check_outliers(data, show_plot=False, save_img=os.getcwd()+'/outliers.png'):
    
    """
    This functions checks for columns with outlers using the IQR method
    
    It accespts as argmuent a dataset. 
    show_plot can be set to True to output pairplots of outlier columns    
    """
    
    outliers = [] 
    Q1 = data.quantile(0.25)  
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    num_data = data.select_dtypes(include='number')
    result = dict ((((num_data < (Q1 - 1.5 * IQR)) | (num_data > (Q3 + 1.5 * IQR)))==True).any())
    #data[(data[col] >= high)|(data[col] <= low)].index
    index = data[(num_data < Q1 - 1.5 * IQR) | (num_data > Q3 + 1.5 * IQR)].index
    for k,v in result.items():
        if v == True:  
            outliers.append(k)
    if show_plot:
        pair_plot = sns.pairplot(data[outliers]);
        print(f'{result},\n\n Visualization of outlier columns')
        plt.savefig(fname=save_img, format='png')
        return pair_plot
    else:
        return data.loc[index, outliers]
    
    

def treat_outliers(data, type='median_replace'):
    
    """
    This treat outliers using any ofthses 3 methods as specified by user
    
        1. median_replace -  median replacement
        
        2. quant_floor - quantile flooring
        
        3. trim - trimming 
        
        4. log_transform - log transformations
    
    The methods are some of the commont statistical methods in treating outler
    columns
    
    By default treatment type is set to median replacement

    """
    
    if type == "median_replace":
        
        for col in data.columns.tolist():
            if is_numeric_dtype(data[col]):
                median = (data[col].quantile(0.50))
                print(median)
                q1 = data[col].quantile(0.25)
                q3 = data[col].quantile(0.75)
                iqr = q3 - q1
                high = int(q3 + 1.5 * iqr) 
                low = int(q1 - 1.5 * iqr)
                print(high, low, iqr)
                print(col)
                data[col] = np.where(data[col] > high, median, data[col])
                data[col] = np.where(data[col] > high, median, data[col])        
    
    if type == "quant_floor":
        
        for col in data.columns.tolist():
            if is_numeric_dtype(data[col]):
                q_10 = data[col].quantile(0.5)
                q_90 = data[col].quantile(0.95)
                data[col] =  data[col] = np.where(data[col] < q_10, q_10 , data[col])
                data[col] =  data[col] = np.where(data[col] > q_90, q_90 , data[col])
            
    if type == "trim":
        
        for col in data.columns.tolist():
            low = .05
            high = .95
            quant_df = data.quantile([low, high])
            for name in list(data.columns):
                if is_numeric_dtype(data[name]):
                    data = data[(data[name] >= quant_df.loc[low, name]) 
                        & (data[name] <= quant_df.loc[high, name])]
            
    if type == "log_transform":  
        for col in data.columns.tolist():
            if is_numeric_dtype(data[col]):
                data[col] = data[col].map(lambda i: np.log(i) if i > 0 else 0)
                
    if type == "isf":
        iso = IsolationForest(contamination=0.1)
        yhat = iso.fit_predict(data.select_dtypes(exclude='object'))
        #select all rows that are not outliers
        mask = yhat != -1 
        data = data[mask]
        

    return data 


def scale_data(data,scaler=RobustScaler()):
    
    """
    Specify scaler type, scaler type must have fit_transform as a method
    
    """
    data_scaled = scaler.fit_transform(data)
    return data_scaled

In [295]:
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as  np
import pandas as pd
from pandas.api.types import is_numeric_dtype
from sklearn.ensemble import IsolationForest
import os
from sklearn.preprocessing import RobustScaler, StandardScaler
from sklearn.model_selection import train_test_split


class PrepareData():
    
    def __repr__(self):
        
        return "Used to prepare data for modelling"
    
    def  __init__(self, path=""):
        self.path = path
    
    def load_data(self, path="", sep=",", cols_to_drop=[]):
        self.data = pd.read_csv(self.path, sep)
        for col in cols_to_drop:
            self.data.drop(col, axis=1, inplace=True)

        return self.data 


    def check_outliers(self, data, show_plot=False, save_img=os.getcwd()+'/outliers.png'):
        
        self.data = data
    
        """
        This functions checks for columns with outlers using the IQR method

        It accespts as argmuent a dataset. 
        show_plot can be set to True to output pairplots of outlier columns    
        """

        outliers = [] 
        Q1 = self.data.quantile(0.25)  
        Q3 = self.data.quantile(0.75)
        IQR = Q3 - Q1
        num_data = self.data.select_dtypes(include='number')
        result = dict ((((num_data < (Q1 - 1.5 * IQR)) | (num_data > (Q3 + 1.5 * IQR)))==True).any())
        #data[(data[col] >= high)|(data[col] <= low)].index
        index = self.data[(num_data < Q1 - 1.5 * IQR) | (num_data > Q3 + 1.5 * IQR)].index
        for k,v in result.items():
            if v == True:  
                outliers.append(k)
        if show_plot:
            pair_plot = sns.pairplot(self.data[outliers]);
            print(f'{result},\n\n Visualization of outlier columns')
            plt.savefig(fname=save_img, format='png')
            return pair_plot
        else:
            return self.data.loc[index, outliers] 
        
        
    def treat_outliers(self, data, type='median_replace'):
        
        self.data = data
    
        """
        This treat outliers using any ofthses 3 methods as specified by user

            1. median_replace -  median replacement

            2. quant_floor - quantile flooring

            3. trim - trimming 

            4. log_transform - log transformations

        The methods are some of the commont statistical methods in treating outler
        columns

        By default treatment type is set to median replacement

        """

        if type == "median_replace":

            for col in self.data.columns.tolist():
                if is_numeric_dtype(self.data[col]):
                    median = (self.data[col].quantile(0.50))
                    print(median)
                    q1 = self.data[col].quantile(0.25)
                    q3 = self.data[col].quantile(0.75)
                    iqr = q3 - q1
                    high = int(q3 + 1.5 * iqr) 
                    low = int(q1 - 1.5 * iqr)
                    print(high, low, iqr)
                    print(col)
                    self.data[col] = np.where(self.data[col] > high, median, self.data[col])
                    self.data[col] = np.where(self.data[col] > high, median, self.data[col])        

        if type == "quant_floor":

            for col in self.data.columns.tolist():
                if is_numeric_dtype(data[col]):
                    q_10 = self.data[col].quantile(0.5)
                    q_90 = self.data[col].quantile(0.95)
                    self.data[col] =  self.data[col] = np.where(self.data[col] < q_10, q_10 , self.data[col])
                    self.data[col] =  self.data[col] = np.where(self.data[col] > q_90, q_90 , self.data[col])

        if type == "trim":

            for col in self.data.columns.tolist():
                low = .05
                high = .95
                quant_df = self.data.quantile([low, high])
                for name in list(self.data.columns):
                    if is_numeric_dtype(self.data[name]):
                        self.data = self.data[(self.data[name] >= quant_df.loc[low, name]) 
                            & (self.data[name] <= quant_df.loc[high, name])]

        if type == "log_transform":  
            for col in self.data.columns.tolist():
                if is_numeric_dtype(self.data[col]):
                    self.data[col] = self.data[col].map(lambda i: np.log(i) if i > 0 else 0)

        if type == "isf":
            iso = IsolationForest(contamination=0.1)
            yhat = iso.fit_predict(self.data.select_dtypes(exclude='object'))
            #select all rows that are not outliers
            mask = yhat != -1 
            self.data = self.data[mask]


        return self.data 
    
    
    def map_col_values(self, data, col_name="", values_dict={}):

        self.data = data

        self.data[col_name] = self.data[col_name].map(values_dict)

        return self.data
    
    
    def split_data_single(self, data, target_cols=[]):
        
        self.data = data
    
        self.features = self.data.drop(columns=target_cols, axis=1) 

        self.target   = pd.DataFrame(self.data[target_cols])

        return self.features, self.target
    
    
    def encode (self, data):
        
        self.data = data
        
        ohe = OneHotEncoder(sparse=False, handle_unknown='ignore', )
        to_encode = self.data.select_dtypes(exclude='number')
        if self.data.shape[1] > 1:
            #ohe = MultiLabelBinarizer()
            self.data.drop(to_encode.columns.tolist(), axis=1, inplace = True)
            features_cat_encode = pd.DataFrame(ohe.fit_transform(to_encode))
            self.data = self.data.merge(features_cat_encode, left_index=True, right_index=True)
            #print(ohe.classes_) 
        else:
            self.data = pd.DataFrame(ohe.fit_transform(to_encode))
            print(ohe.categories_) 
        return self.data
    
    def split_data_double(self, features, target, test_size=.10):
        
        if features.shape[0] != target.shape[0]:
            raise Exception("Wrong, you are trying to pass unequal shapes\n\
            Shapes of dataframes must be equal\n\
            Try target = target.iloc[0:features.shape[0]]")
        
        self.features = features
        self.target = target
        
        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(self.features, self.target,
                                               test_size= test_size, random_state=24)
        
        return self.X_train, self.X_test, self.y_train, self.y_test


    def scale_data(self, data,scaler=RobustScaler()):
        
        self.data = data

        """
        Specify scaler type, scaler type must have fit_transform as a method

        """
        self.data_scaled = scaler.fit_transform(self.data)
        
        return self.data_scaled

In [296]:
prepare_data = PrepareData(path=path)

In [297]:
prepare_data

Used to prepare data for modelling

In [298]:
data = prepare_data.load_data(sep=';', cols_to_drop=['duration'])

In [299]:
data = prepare_data.treat_outliers(data, type='isf')

In [300]:
data  = prepare_data.map_col_values(data, 'y', values_dict={'no':0, 'yes':1})

In [301]:
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40544,33,blue-collar,married,professional.course,no,yes,no,cellular,aug,tue,4,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6,1
40545,31,admin.,single,high.school,no,no,no,cellular,aug,tue,1,999,1,failure,-1.7,94.027,-38.3,0.886,4991.6,0
40549,58,retired,divorced,basic.4y,no,no,no,telephone,aug,tue,1,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6,0
40550,34,blue-collar,married,basic.9y,no,yes,no,cellular,aug,tue,2,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6,0
40551,44,admin.,single,high.school,no,yes,no,telephone,aug,tue,1,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6,0

In [302]:
a, b = split_data_single(data, target_cols=['y'])

In [303]:
a

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40544,33,blue-collar,married,professional.course,no,yes,no,cellular,aug,tue,4,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6
40545,31,admin.,single,high.school,no,no,no,cellular,aug,tue,1,999,1,failure,-1.7,94.027,-38.3,0.886,4991.6
40549,58,retired,divorced,basic.4y,no,no,no,telephone,aug,tue,1,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6
40550,34,blue-collar,married,basic.9y,no,yes,no,cellular,aug,tue,2,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6
40551,44,admin.,single,high.school,no,yes,no,telephone,aug,tue,1,999,0,nonexistent,-1.7,94.027,-38.3,0.886,4991.6

In [304]:
a = prepare_data.encode(a)

In [305]:
a

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,0,...,42,43,44,45,46,47,48,49,50,51
0,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,57,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,37,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,40,1,999,0,1.1,93.994,-36.4,4.857,5191.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37062,43,1,999,0,-2.9,92.469,-33.6,1.029,5076.2,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
37063,42,1,999,0,-2.9,92.469,-33.6,1.029,5076.2,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
37064,42,1,999,0,-2.9,92.469,-33.6,1.029,5076.2,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
37065,32,1,999,0,-2.9,92.469,-33.6,1.029,5076.2,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
37067,42,2,999,0,-2.9,92.469,-33.6,1.029,5076.2,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [306]:
b

       y
0      0
1      0
2      0
3      0
4      0
...   ..
40544  1
40545  0
40549  0
40550  0
40551  0

[37069 rows x 1 columns]

In [307]:
b = b.iloc[0:a.shape[0]]

In [308]:
prepare_data.split_data_double(a, b)

(       age  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
 10168   45         2    999         0           1.4          94.465
 29016   47         1    999         0          -1.8          93.075
 15178   29         2    999         0           1.4          93.918
 25022   34         1    999         0          -0.1          93.200
 29339   29         2    999         0          -1.8          93.075
 ...    ...       ...    ...       ...           ...             ...
 6526    52         5    999         0           1.1          93.994
 21884   46         8    999         0           1.4          93.444
 20108   29         4    999         0           1.4          93.444
 14710   25         5    999         0           1.4          93.918
 899     46         2    999         0           1.1          93.994

        cons.conf.idx  euribor3m  nr.employed    0  ...   42   43   44   45  \
 10168          -41.8      4.958       5228.1  0.0  ...  0.0  0.0  0.0  1.0
 29016          -47.1      1.405       5099.1  0.0  ...  0.0  0.0  0.0  1.0
 15178          -42.7      4.958       5228.1  0.0  ...  0.0  0.0  1.0  0.0
 25022          -42.0      4.153       5195.8  0.0  ...  1.0  0.0  0.0  0.0
 29339          -47.1      1.405       5099.1  0.0  ...  0.0  0.0  0.0  1.0
 ...              ...        ...          ...  ...  ...  ...  ...  ...  ...
 6526           -36.4      4.857       5191.0  0.0  ...  0.0  0.0  0.0  0.0
 21884          -36.1      4.964       5228.1  1.0  ...  0.0  0.0  0.0  0.0
 20108          -36.1      4.965       5228.1  0.0  ...  0.0  0.0  0.0  0.0
 14710          -42.7      4.961       5228.1  0.0  ...  0.0  0.0  0.0  0.0
 899            -36.4      4.856       5191.0  0.0  ...  0.0  0.0  0.0  0.0

         46   47   48   49   50   51
 10168  0.0  0.0  0.0  0.0  1.0  0.0
 29016  0.0  0.0  0.0  0.0  1.0  0.0
 15178  0.0  0.0  0.0  0.0  1.0  0.0
 25022  0.0  1.0  0.0  0.0  1.0  0.0
 29339  0.0  0.0  0.0  0.0  1.0  0.0
 ...    ...  ...  ...  ...  ...  ...
 6526   0.0  0.0  1.0  0.0  1.0  0.0
 21884  1.0  0.0  0.0  0.0  1.0  0.0
 20108  0.0  1.0  0.0  0.0  1.0  0.0
 14710  0.0  0.0  1.0  0.0  1.0  0.0
 899    0.0  0.0  1.0  0.0  1.0  0.0

 [32652 rows x 61 columns],
        age  campaign  pdays  previous  emp.var.rate  cons.price.idx  \
 26481   34         2    999         1          -0.1          93.200
 22720   45         1    999         0           1.4          93.444
 13749   48         3    999         0           1.4          93.918
 34119   30         2    999         1          -1.8          92.893
 18952   57         2    999         0           1.4          93.444
 ...    ...       ...    ...       ...           ...             ...
 30173   53         1    999         0          -1.8          93.075
 9808    30         5    999         0           1.4          94.465
 19153   54         3    999         0           1.4          93.444
 22236   29         3    999         0           1.4          93.444
 22037   46         3    999         0           1.4          93.444

        cons.conf.idx  euribor3m  nr.employed    0  ...   42   43   44   45  \
 26481          -42.0      4.076       5195.8  0.0  ...  1.0  0.0  0.0  0.0
 22720          -36.1      4.964       5228.1  0.0  ...  0.0  0.0  0.0  1.0
 13749          -42.7      4.963       5228.1  0.0  ...  0.0  0.0  1.0  0.0
 34119          -46.2      1.281       5099.1  0.0  ...  0.0  0.0  0.0  0.0
 18952          -36.1      4.970       5228.1  0.0  ...  0.0  0.0  0.0  0.0
 ...              ...        ...          ...  ...  ...  ...  ...  ...  ...
 30173          -47.1      1.365       5099.1  1.0  ...  0.0  0.0  0.0  0.0
 9808           -41.8      4.959       5228.1  0.0  ...  0.0  0.0  0.0  0.0
 19153          -36.1      4.968       5228.1  0.0  ...  0.0  0.0  0.0  0.0
 22236          -36.1      4.963       5228.1  0.0  ...  0.0  0.0  1.0  0.0
 22037          -36.1      4.964       5228.1  1.0  ...  0.0  0.0  0.0  0.0

         46   47   48   49   50   51
 26481  1.0  0.0  0.0  0.0  1.0  0.0
 22720  0.0  0.0  0.0  0.0  1.0  0.0
 13749  0.0  0.0  0.0  0.0  1.0  0.0
 34119  1.0  0.0  0.0  0.0  1.0  0.0
 18952  0.0  0.0  1.0  0.0  1.0  0.0
 ...    ...  ...  ...  ...  ...  ...
 30173  0.0  1.0  0.0  1.0  0.0  0.0
 9808   0.0  0.0  1.0  0.0  1.0  0.0
 19153  0.0  0.0  1.0  0.0  1.0  0.0
 22236  0.0  0.0  0.0  0.0  1.0  0.0
 22037  1.0  0.0  0.0  0.0  1.0  0.0

 [3629 rows x 61 columns],
        y
 10168  0
 29016  0
 15178  0
 25022  0
 29339  0
 ...   ..
 6526   0
 21884  0
 20108  0
 14710  0
 899    0

 [32652 rows x 1 columns],
        y
 26481  0
 22720  0
 13749  1
 34119  1
 18952  0
 ...   ..
 30173  0
 9808   0
 19153  0
 22236  1
 22037  0

 [3629 rows x 1 columns])

In [310]:
a= prepare_data.scale_data(a)

In [311]:
b= prepare_data.scale_data(b)

#### Module Plot.py codes

In [142]:
import seaborn as sns
import matplotlib.pyplot as plt
import os
import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype
import os

def plot_univariate (data, x=None, y=None, color='r',save=False,
                title='New Chart', chart_type='hist', xlabel='', ylabel='',
                    save_to=os.getcwd(), log_normalise=False):
    
    
    """
    Make a univariate plot of any of these selcted types:
    
    1. bar - barchart
    
    2. hist - Histogram
    
    3. pie - Piechart
    
    4. count - Countplot
    
    
    """
    
    plt.subplots(figsize=(10,7))
    plt.title(title, fontsize=18)
    plt.xlabel(xlabel, fontsize=15)
    plt.ylabel(ylabel, fontsize=15)
    plt.xticks(fontsize=12)
    plt.yticks(fontsize=12)
    
    
    if chart_type == 'hist':
        if log_normalise:
            data = np.log(data)
        plot = sns.distplot(a=data, color=color)
        if save:
            plt.savefig(fname=save_to+f'/{title}.png', format='png')
        
    return plot

def plot_bivariate(data, x=None, y=None, hue=None, 
                  color='r',save=False,
                title='New Chart', chart_type='hist',
                   xlabel='', ylabel='',
                    save_to=os.getcwd(), img_name = " ", 
                   palette={'use':False, "size":1}, log_normalise=False,
                  kind_joint_plot = 'scatter', kind_pair_plot="scatter", figsize=(10,7)):
    
    """
    Make a bivariate plot of any of the selcted types:
    
    1. bar - barchart
    
    2. scatter  - scatter plot
    
    3. cat  - catplot
    
    4. count - countplot
    
    5 joint - jointplot 
    
    6  pair - pairplot
    
    7  corr - corr_plot
    
    When calling joint_plot:
        
        kind_joint_plot is default to `scatter`
        other types include "reg", "reside", "kde", "hex"
        
    When calling pair_plot:
        
        kind_pair_plot is default to `scatter`
        other types include 'reg'
    """
    def plt_tweaks():
        plt.subplots(figsize= figsize)
        plt.title(title, fontsize=18)
        plt.xlabel(xlabel, fontsize=15)
        plt.ylabel(ylabel, fontsize=15)
        plt.xticks(fontsize=12)
        plt.yticks(fontsize=12)
    
    
    # define helper functions
    
    def use_palette():
        palettes = []
#        palette_to_use=[]
        if palette['use'] == True:
            palette_to_use = [palettes[i] for i in range(palette['size'])]
            
            return palette_to_use

    def log_norm():
        if log_normalise and y != None:
            y = np.log(y)
        elif log_normalise and y == None:
            data = np.log(data)
            
    def save_image():
        if save:
            if img_name != " ":
                plt.savefig(fname=save_to+"/"+img_name+'.png', format='png')
            else:
                plt.savefig(fname=save_to+f'/{title}.png', format='png')
                
        
    # make plots
    
    if chart_type == "joint":
        log_norm()
        plot = sns.jointplot(x=x, y=y, data=data,
                            height=6, ratio=5, space=0.2, kind=kind_joint_plot)
        
        save_image()
        
    if chart_type == "pair":
       # try:
        log_norm()
        if palette['use'] == True:
            palette_to_use = use_palette()
            plot = sns.pairplot(data, palette=palette_to_use, 
                            kind= kind_pair_plot,height=3, aspect=1, hue=hue)
        else:
             plot = sns.pairplot(data, 
                            kind= kind_pair_plot,height=2.5, aspect=1, hue=hue, )
        save_image()
        
    if chart_type  == "corr":
        plt_tweaks()
        corr_data = data.corr()
        corr_plot = sns.heatmap(corr_data,annot=True, fmt='.2g', center=0) 
        
    return plot

#### Module Model.py Codes

In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegressionCV, LogisticRegression
from sklearn.model_selection import StratifiedKFold
from imblearn.over_sampling import SMOTE, _random_over_sampler
from sklearn.preprocessing import OneHotEncoder
from imblearn.pipeline import Pipeline as ImbPipe
from sklearn.model_selection import KFold, StratifiedKFold, GridSearchCV


from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score, precision_score, recall_score
from sklearn.metrics import roc_curve, roc_auc_score, precision_recall_curve
from sklearn.model_selection import cross_val_predict, cross_val_score, cross_validate

def plot_pca_components(data):
    pca = PCA().fit(data)
    plt.plot(np.cumsum(pca.explained_variance_ratio_))
    plt.xlabel('number of components')
    plt.ylabel('cumulative explained variance');
    
def check_imbalance(data,label='', x=0.7, y=30000):
    plt.subplots(figsize=(10,8))
    data[label].value_counts().plot(kind='bar')
    text = f'Class Imbalance Count:\n\n{data[label].value_counts().to_dict()}'
    plt.text(x=x, y=y, s = text ,  fontsize=15)
    
def encode (data):
    ohe = OneHotEncoder(sparse=False, handle_unknown='ignore', )
    to_encode = data.select_dtypes(exclude='number')
    if data.shape[1] > 1:
        #ohe = MultiLabelBinarizer()
        data.drop(to_encode.columns.tolist(), axis=1, inplace = True)
        features_cat_encode = pd.DataFrame(ohe.fit_transform(to_encode))
        data = data.merge(features_cat_encode, left_index=True, right_index=True)
        #print(ohe.classes_) 
    else:
        data = pd.DataFrame(ohe.fit_transform(to_encode))
        print(ohe.categories_) 
    return data 

 

def x_y_split(data, x=None, y=None, type_="single", test_size=.10):
    
    """
    Single type divides into just x and y
    Double type divides into train and test for each of x and y
    """
    
    X, y = data.drop(columns=y, axis=1), data[y]
    
    if type_ == "single":
        
        return X, y
    
    if type == "double":
        X_train, X_test, y_train, y_test = train_test_split(X, y,
                                               test_size=test_size, random_state=123)
        
        return X_train, X_test, y_train, y_test
    
    
    
def model_pipeline(X_train=None, y_train=None, X_test=None, pca=PCA(), 
                   cv=StratifiedKFold(), imb_sample=SMOTE(random_state=123),
                  model=LogisticRegressionCV()):
    
    """
    Trains a model for an imbalanced class using the specified estimator
    The training is done in K-folds or its nuances as specified folds 
    applying the specified sampling strategy
    """
    
    model = ImbPipe([('imb_sample', imb_sample), ('pca', pca), ('model', model)])
    model.fit(X_train, y_train) 
    y_hat = model.predict(X_test) 
    return model, y_hat
    
    
def gridSearch(model,hyper_params={},cv=StratifiedKFold(), x_train=None, y_train=None):
    
    """
    Performs GridSeach of the best hyperparmaters for the passed model
    """
    
    search = GridSearchCV(model=model, param_grid = hyper_params, n_jobs=-1, cv=cv)
    search.fit(X=x_train, y=y_train)
    print("Best parameter (CV score=%0.3f):\n" % search.best_score_)
    print(search.best_params_)
    print(search.score) 
    return search


def plot_grid_search(search_obj, pca_obj, X_train):
    
    """
    Prints the best (optimised) hyperparmatersfor the grid search object
    and plots the optimised pca components
    """
    
    print("Best parameter (CV score=%0.3f):\n" % search.best_score_)
    print("Best Params:",search.best_params_)
    pca.fit(X_train_scaled)

    fig, (ax0, ax1) = plt.subplots(nrows=2, sharex=True, figsize=(8, 8))
    ax0.plot(np.arange(1, pca.n_components_ + 1),
             pca.explained_variance_ratio_, '+', linewidth=2)
    ax0.set_ylabel('PCA explained variance ratio')

    ax0.axvline(search.best_estimator_.named_steps['pca'].n_components,
                linestyle=':', label='n_components chosen')
    ax0.legend(prop=dict(size=12))

    # For each number of components, find the best classifier results
    results = pd.DataFrame(search.cv_results_)
    components_col = 'param_pca__n_components'
    best_clfs = results.groupby(components_col).apply(
        lambda g: g.nlargest(1, 'mean_test_score'))

    best_clfs.plot(x=components_col, y='mean_test_score', yerr='std_test_score',
                   legend=False, ax=ax1)
    ax1.set_ylabel('Classification accuracy (val)')
    ax1.set_xlabel('n_components')

    plt.xlim(-1, 70)

    plt.tight_layout()
    plt.show() 
    

class metrics ():
    
    def __init__(self, y_test, y_hat):
        pass
        self.y_test = y_test
        self.y_hat =  y_hat
        
    
    def class_report(self):
        
        full_report = classification_report(self.y_test, self.y_hat)
        
        print(full_report)
        
    def conf_matrix(self):
        
        conf_matrix = confusion_matrix(self.y_test, self.y_hat)
        
        conf_matrix_df = pd.DataFrame(conf_matrix, columns=['Actual_+ve', 'Actual_-ve'],
                               index=['predicted_+ve', 'predicted_-ve'])
        
        return conf_matrix_df
    
    def accuracy_score(self):
        return  accuracy_score(self.y_test, self.y_hat)
    
    def classification_error(self):
        
        return 1 - accuracy_score() 
        
    def specif_sensitiv(self):
        
        """
        Sensitivity: When the actual value is positive, how often is the prediction correct?
        
        Specificity: When the actual value is negative, how often is the prediction correct?
        """
        
        conf_matrix = confusion_matrix(self.y_test, self.y_hat)
        
        TP = conf_matrix[1, 1]
        TN = conf_matrix[0, 0]
        FP = conf_matrix[0, 1]
        FN = conf_matrix[1, 0]
        
        sensitivity = TP / float(FN + TP)
        specificity = TN / (TN + FP)
        
        sensitiv_specific_table = pd.DataFrame([[sensitivity, specificity]],
                                               columns=['sensitivity', 'specificity'])
        
        return sensitiv_specific_table

In [155]:
LogisticRegressionCV()

LogisticRegressionCV()